
{{ template "base" . }}

{{ define "content" }}


<h1>This is the about page</h1>
<p>This is some text</p>
<p>This is some text</p>
<p> This came from the template: {{ index .StringMap "test"}}<p>

<p>
    {{if ne (index .StringMap "remote_ip") ""}}

        You're remote ip address is {{index .StringMap "remote_ip"}}
    {{else}}
        I don't know your remote ip yet. Visit the <a href="/">Home Page</a> so I can set this

    {{end}}
</p>


{{end}}